
:root {
    --primary-color: #91818A;
    --secondary-color: #c0b0a1;
    --tertiary-color: #372F37;
  }

 body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary-color);
  }
/* Navigation Bar and Header Styling */

header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color);
    margin: 0;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
  }
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    align-items: flex-start;
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  /* Hero and styling */
  body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
  
  .hero-image {
    background-image: url("../images/headshot.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

/* About Me Styling */

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--secondary-color);
    justify-content: space-between;
    padding: 15px;
  }
  
  .flex-container > div {
    text-align: center;
    font-size: 16px;
  }
  
  .box-1 {
  border-right: 1px solid;
  padding: 5px;
  }

  .box-2 {
      flex: wrap;

  }
  /* Work h3 */
  .work-title {
      text-align: center;
      border-bottom: 1px solid;
  }

  /* Work Grid */

  .parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding: 10px;
    position: relative;
    text-align: center;
    color: white;
    }
    
    .div1 { 
        grid-area: 1 / 1 / 3 / 3; 
        border: 5px solid black;
        margin: 10px;
    }

    .div1:hover {
        color: var(--tertiary-color);
        border:var(--tertiary-color) solid 1px;
        background:#fff;
    }
/* HELP cannot get this text displaying properly, looks like it's centering from parent */
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .div1 a img {
      object-fit: fill;
      width: 100%;
      height: 100%;
    }

    .div2 { 
        grid-area: 1 / 3 / 2 / 5; 
        border: 5px solid black;
        margin: 10px;
    }

    .div2:hover {
        color: var(--tertiary-color);
        border:var(--tertiary-color) solid 1px;
        background:#fff;
    }

    .div2 a img {
        object-fit: fill;
        width: 100%;
        height: 100%;
    }
    .div3 { 
        grid-area: 2 / 3 / 3 / 5;
        border: 5px solid black;
        margin: 10px;
    }

    .div3:hover {
        color: var(--tertiary-color);
        border:var(--tertiary-color) solid 1px;
        background:#fff;
    }

    .div3 a img {
        object-fit: fill;
        width: 100%;
        height: 100%;
    }

    .div4 { 
        grid-area: 3 / 1 / 4 / 3; 
        border: 5px solid black;
        margin: 10px;
    }

    .div4:hover {
        color: var(--tertiary-color);
        border:var(--tertiary-color) solid 1px;
        background:#fff;
    }

    .div4 a img {
        object-fit: fill;
        width: 100%;
        height: 100%;
    }

    .div5 { 
        grid-area: 3 / 3 / 4 / 5; 
        border: 5px solid black;
        margin: 10px;
    }

    .div5:hover {
        color: var(--tertiary-color);
        border:var(--tertiary-color) solid 1px;
        background:#fff;
    }

    .div5 a img {
        object-fit: fill;
        width: 100%;
        height: 100%;
    }

    /* Contact */
    .contact-box-2 {
        flex-grow: 1;
    }